{% extends 'base.html' %}
{% load static %}

{% block title %}Home | Galaxy Resources Pvt. Ltd.{% endblock %}

{% block content %}
<section class="jobs-page my-5">

    <!-- Hero -->
    <div class="jobs-hero ">
        <span class="badge">Career Opportunities</span>

        <h1>
            Find Your Dream Job With
            <span class="text-info">Galaxy Resource</span>
        </h1>

        <p>
            Explore the latest job openings from top companies.
            We connect talented candidates with the right opportunities
            across multiple industries.
        </p>

        <a href="#latest-jobs" class="primary-btn">
            View Jobs
        </a>
    </div>

    <!-- Jobs -->
    <div id="latest-jobs" class="jobs-grid">
        <div class="job-card glass-card">

            <div class="job-header">
                <h3>Senior Java Developer</h3>
                <span>Full Time</span>
            </div>

            <p class="company">
                ABM Knowledgeware Ltd
            </p>

            <p>
                📍 Mumbai <br>(Bandra)
            </p>

            <p>
                Hiring Experienced Java Developers<br>
                Salary Up to ₹12 LPA<br>
                No of Vacancy - 2
            </p>

            <a
                href="https://galaxyresource.in/job-details/senior-java-developer-jobs-in-mumbai-hiring-experienced-developers-salary-up-to-12-lpa">
                Apply Now →
            </a>

        </div>
        <div class="job-card glass-card">

            <div class="job-header">
                <h3>Customer Relationship Executive/<h3>
                        <span>Full Time</span>
            </div>

            <p class="company">
                Allview India Electronics Pvt. Ltd.
            </p>

            <p>
                📍 Lucknow
            </p>

            <p>
                harma Division <br>Freshers & Experienced Candidates Apply<br>No of Vacancy - 2
            </p>

            <a
                href="https://galaxyresource.in/job-details/customer-relationship-executive-jobs-in-lucknow-pharma-division-freshers-amp-experienced-candidates-apply">
                Apply Now →
            </a>

        </div>
        <div class="job-card glass-card">

            <div class="job-header">
                <h3>Computer Operator</h3>
                <span>Full Time</span>
            </div>

            <p class="company">
                Galaxy Resource Pvt. Ltd.
            </p>

            <p>
                📍 Lucknow
            </p>

            <p>
                Computer Operator<br> for Lucknow <br>with 1–3 years of <br>experience.
            </p>

            <a
                href="https://galaxyresource.in/job-details/computer-operator-jobs-in-lucknow-salary-16000-fixed-experienced-candidates-apply">
                Apply Now →
            </a>

        </div>

</section>
{% endblock %}