# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/
env/
.venv/

# Environment variables
.env

# Django
db.sqlite3
media/

# Static files (if generated)
staticfiles/

# Migrations (optional)
# */migrations/
# !*/migrations/__init__.py

# Logs
*.log

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Test / coverage
.coverage
htmlcov/
.pytest_cache/

# Build files
dist/
build/
*.egg-info/