/* 1. VARIABLES & RESET */
:root{

    --bg-dark:#F5F7FA;
    --bg-card:#FFFFFF;
    --border-glass:#E2E8F0;

    --primary:#1E3A5F;
    --secondary:#4F9DDE;

    --accent:#2563EB;
    --accent-start:#4F9DDE;
    --accent-end:#1E3A5F;

    --white:#FFFFFF;

    --text-main:#2D3748;
    --text-muted:#718096;

    --border:#D6DEE8;
    --glass:#F8FAFC;

    --shadow:0 4px 12px rgba(0,0,0,.08);

    --gradient-primary:linear-gradient(135deg,#4F9DDE,#1E3A5F);

}

body{

    font-family:'Poppins',sans-serif;

    background:#F7F9FC;

    color:#2D3748;

    margin:0;

    overflow-x:hidden;

}
.contact-page-hero {
    position: relative;
    min-height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    background-image: url("/static/images/o.jpg");
    background-size: cover;
    background-position: center;
    overflow: hidden;
}
#c{
    
    background-image: url("/static/images/1.jpg");
    height:70px;
    

}
.contact-page-overlay {
    position: absolute;
    inset: 0;
    background: linear-gradient(
        to bottom,
        rgba(9, 40, 56, 0.95),
        #89b1c7,
        rgba(180, 225, 250, 0.15)
    );
}

.contact-page-title {
    position: relative;
    z-index: 2;
    padding: 60px 0;
}

.contact-page-title h1 {
    color:rgba(var(--primary));
    font-size: 2.8rem;
    margin-bottom: 10px;
    font-weight: 800;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.contact-page-title p {
    color: #eef3f8;
    margin: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/*JOBS PAGE IMG*/
.jobs-page-hero {
    position: relative;
    min-height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    background-image: url("/static/images/x.jpg");
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

/*NAVBAR AND FOOTER CSS STARTS*/
.glass-navbar{

    background:var(--white);

    min-height:75px;

    box-shadow:0 3px 10px rgba(0,0,0,.08);

    border-bottom:1px solid var(--border);

}

.navbar-brand{

    font-size:1.6rem;

    font-weight:700;

    color:var(--primary)!important;

}

.navbar-brand i{

    color:var(--secondary);

}

.nav-link{

    color:var(--text-main)!important;

    margin-left:10px;

    font-weight:500;

}

.nav-link:hover{

    color:var(--secondary)!important;

}

.navbar-toggler{

    border:none;

}

.btn-gradient{

    background:var(--primary);

    color:#fff;

    border:none;

    border-radius:30px;

    padding:10px 25px;

}

.btn-gradient:hover{

    background:var(--secondary);

    color:#fff;

}

.btn-outline-light{

    background:#fff;

    color:var(--primary);

    border:2px solid var(--primary);

    border-radius:30px;

    padding:10px 25px;

}

.btn-outline-light:hover{

    background:var(--primary);

    color:#fff;

}

/* FOOTER*/
.footer-section{

    background:var(--primary);

    padding:60px 0 20px;

}

.footer-title{

    color:#fff;

    font-weight:700;

}

.footer-heading{

    color:#fff;

    margin-bottom:20px;

}

.footer-text{

    color:whitesmoke;

    line-height:1.8;

}

.footer-links{

    padding-left:0;

}

.footer-links li{

    list-style:none;

    margin-bottom:10px;

}

.footer-links a{

    color:#D6E4F0;

}

.footer-links a:hover{

    color:#fff;

}

.footer-divider{

    border-color:rgba(255,255,255,.15);

    margin:35px 0;

}

.social-icons a{

    width:40px;

    height:40px;

    display:inline-flex;

    justify-content:center;

    align-items:center;

    border-radius:50%;

    background:#fff;

    color:var(--primary);

    margin-right:10px;

}

.social-icons a:hover{

    background:var(--secondary);

    color:#fff;

}

.copyright{

    color:#D6E4F0;

    font-size:15px;

}
/* REUSABLE COMPONENTS*/

.glass-card {
    background:whitesmoke;
    backdrop-filter:blur(18px);
    border:1px solid var(--border-glass);
    border-radius:20px;
    margin-top:20px;
}

.glass-card:hover {
    border-color:var(--primary);
    box-shadow:0 20px 60px rgba(6,182,212,.25);
    transform:translateY(-5px);
}


.section-title {
    font-size: 2.3rem;
    font-weight: 700;
}

.section-subtitle {
    color: white;
    max-width: 700px;
    margin: auto;
}

.hover-lift {
    transition: .3s;
}

.hover-lift:hover {
    transform: translateY(-8px);
}
/*How we work for you*/
.feature-section-hero
{
     position: relative;
    min-height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    background-image: url(css/images/d.jpg);
    background-size: cover;
    background-position: center;
    overflow: hidden;
}
/* RESPONSIVE */

@media(max-width:991px) {

    body {
        padding-top: 75px;
    }

    .navbar-nav {
        padding: 20px 0;
    }

    .nav-link {
        margin-left: 0;
    }

}

@media(max-width:576px) {

    section {
        padding: 60px 0;
    }

    .section-title {
        font-size: 1.8rem;
    }

}

/**NAVBAR AND FOOTER CSS END/
/*BASE.HTML CSS END*/

/*INDEX PAGE CSS STARTS*/
/*hero css starts*/
.hero{

height:90vh;

display:flex;

align-items:center;

background:
linear-gradient(
rgba(30,58,95,.75),
rgba(79,157,222,.55)
),

url("../images/e.jpg");

background-size:cover;

background-position:center;
}
/* ABOUT */

.about-preview,
.services-section,
.features-section,
.statistics-section,
.about-hero,
.company-intro,
.mission-vision-section{

    position:relative;

}

.service-card p,
.feature-card p,
.stat-item p,
.company-intro p,
.glass-card p{

    color:var(--text-muted);

}

.service-card i,
.feature-card i,
.stat-item i{

    transition:.3s;

}

.service-card:hover i,
.feature-card:hover i{

    transform:scale(1.08);

}

/* STATISTICS */

.statistics-wrapper{

    background:#fff;

    border-radius:15px;

    box-shadow:var(--shadow);

}

.stat-item h2{

    color:var(--primary);

    font-size:2.2rem;

    font-weight:700;

}

.stat-item p{

    margin:0;

}

/* ABOUT PAGE */

.company-video{

    width:100%;

    height:420px;

    object-fit:cover;

    border-radius:15px;

}

.video-wrapper{

    overflow:hidden;

}

/* REVIEW */

.review-wrapper{

    overflow:hidden;

}

.review-track{

    display:flex;

    gap:25px;

    width:max-content;

    animation:scrollReview 20s linear infinite;

}

.review-card{

    width:300px;

    padding:20px;

    background:#fff;

    border-radius:15px;

    box-shadow:var(--shadow);

}

.review-card h4{

    color:var(--primary);

}

.review-card span{

    color:var(--secondary);

    font-size:.9rem;

}

.review-card p{

    color:var(--text-muted);

}

@keyframes scrollReview{

    from{
        transform:translateX(0);
    }

    to{
        transform:translateX(-50%);
    }

}

/*  RESPONSIVE */

@media(max-width:991px){

    body{
        padding-top:75px;
    }

    .navbar-nav{
        padding:15px 0;
    }

    .nav-link{
        margin-left:0;
    }

    .hero-section h1{
        font-size:2.8rem;
    }

}

@media(max-width:576px){

    section{
        padding:60px 0;
    }

    .section-title{
        font-size:1.8rem;
    }

    .hero-section h1{
        font-size:2.2rem;
    }

    .hero-section p{
        font-size:1rem;
    }

}

/* REGISTER PAGE*/

.auth-card{

    max-width:950px;

    margin:40px auto;

    background:#ffffff;

    border:none;

    border-radius:20px;

    box-shadow:0 12px 35px rgba(0,0,0,.12);

    transition:.3s;

}

.auth-card:hover{

    transform:translateY(-4px);

}

.contact-hero .section-title{

    color:#fff;

    font-size:2.5rem;

    margin-bottom:12px;

}

.contact-hero .text-info{

    color:#EAF4FF;

    font-size:17px;

}

/* Labels */

.form-label{

    color:var(--primary);

    font-weight:600;

    margin-bottom:8px;

}

/* Inputs */

.form-control,

.form-select{

    height:48px;

    border-radius:12px;

    border:1px solid #D5DCE5;

    box-shadow:none;

    transition:.3s;

}

textarea.form-control{

    min-height:120px;

    resize:none;

}

.form-control:focus,

.form-select:focus{

    border-color:var(--secondary);

    box-shadow:none;

}

/* Password */

.password-group{

    position:relative;

}

.toggle-password{

    position:absolute;

    right:16px;

    top:50%;

    transform:translateY(-50%);

    cursor:pointer;

    color:#777;

}

/* Button */

.btn-gradient{

    height:50px;

    border-radius:12px;

    font-size:16px;

    font-weight:600;

}

.btn-gradient:hover{

    transform:translateY(-2px);

}

/* Login Link */

.link-accent{

    color:var(--secondary);

    text-decoration:none;

}

.link-accent:hover{

    text-decoration:underline;

}
/*FEATURE SECTION IMG --INDEX PAGE PART*/
.features-section-hero
{
      position: relative;
    min-height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    background-image: url("/static/images/i.jpg");
    background-size: cover;
    background-position: center;
    overflow: hidden;
}
/* Alert */

.alert{

    border-radius:12px;

}

/* Better spacing */

.auth-card .row{

    row-gap:10px;

}

.auth-card .col-md-6,

.auth-card .col-md-12,

.auth-card .col-12{

    margin-top:10px;

}
.page-img{

    width:100%;

    border-radius:55% 45% 60% 40%/
                  45% 60% 40% 55%;

    transition:.4s;

    box-shadow:var(--shadow);

}

.page-img:hover{

    border-radius:20px;

    transform:scale(1.03);

}

/* Responsive */

@media(max-width:991px){

    .auth-card{

        padding:30px !important;

    }

}

@media(max-width:768px){

    .contact-hero{

        padding-top:90px;

    }

    .contact-hero .section-title{

        font-size:2rem;

    }

    .auth-card{

        margin:20px;

        padding:25px !important;

    }

}

@media(max-width:576px){

    .form-control,

    .form-select{

        height:45px;

    }

    textarea.form-control{

        min-height:100px;

    }

}

/*JOBS START*/
/* Cards */
.jobs-grid{

    display:grid;

    grid-template-columns:repeat(3,1fr);

    gap:20px;

    margin-bottom:20px;
    margin-top:15px;

}

.job-card{

    background:#fff;

    border-radius:18px;

    padding:10px;

    box-shadow:0 10px 30px rgba(0,0,0,.08);

    transition:.3s;

    height:95%;

}

.job-card:hover{

    transform:translateY(-6px);

}

/* Header */

.job-header{

    display:flex;

    justify-content:space-between;

    align-items:flex-start;

    margin-bottom:18px;

}

.job-header h3{

    color:var(--primary);

    font-size:22px;

    line-height:1.4;

    margin:0;

}

.job-header span{

    background:#E7F7EE;

    color:#198754;

    padding:5px 12px;

    border-radius:20px;

    font-size:13px;

}

/* Company */

.company{

    color:var(--secondary);

    font-weight:600;

    margin-bottom:12px;

}

/* Paragraph */

.job-card p{

    color:var(--text-muted);

    line-height:1.7;

    margin-bottom:14px;

}

/* Apply */

.job-card a{

    display:inline-block;

    margin-top:12px;

    text-decoration:none;

    color:var(--primary);

    font-weight:600;

    transition:.3s;

}

.job-card a:hover{

    color:var(--secondary);

}

/* Responsive */

@media(max-width:992px){

    .jobs-grid{

        grid-template-columns:repeat(2,1fr);

    }

}

@media(max-width:768px){
    .jobs-hero h1{
        font-size:36px;
    }
    .jobs-grid{
        grid-template-columns:1fr;
    }
}

@media(max-width:576px){
    .jobs-page{
        padding:70px 0;
    }
    .jobs-hero{
        margin-bottom:50px;
    }
    .jobs-hero h1{
        font-size:30px;
    }
    .job-card{
        padding:22px;
    }
}
/*jobs */