{% extends 'adminbase.html' %}
{% load static %}
{% block admin %}
<h1
    style="text-align: center; color:white; background-color:navy; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;border-radius: 50px 0px 50px 0px; padding:8px;">
    POST JOB</h1>
{% if messages %}
{% for m in messages %}
<div class="alert alert-warning alert-dismissible fade show py-2" role="alert">
    {{ m }}
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
</div>
{% endfor %}
{% endif %}
<hr />
<form class="form-group" method="post">
    {% csrf_token %}
    <table class="table table-bordered" style="width:50%; margin:auto;">
        <tr>
            <td>Enter Job Title : </td>
            <td>
                <input type="text" name="title" class="form-control" required />
            </td>
        </tr>
        <tr>
            <td>Enter Job Description : </td>
            <td>
                <textarea name="description" class="form-control" required></textarea>
            </td>
        </tr>
        <tr>
            <td>Enter Location : </td>
            <td>
                <input type="text" name="location" class="form-control" required />
            </td>
        </tr>
        <tr>
            <td>Enter Salary : </td>
            <td>
                <input type="text" name="salary" class="form-control" required />
            </td>
        </tr>
        <tr>
            <td>Enter Job Type : </td>
            <td>
                <select class="form-control" name="jobtype">
                    <option>Full Time</option>
                    <option>Part Time</option>
                    <option>Internship</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Enter Last Date : </td>
            <td>
                <input type="date" name="lastdate" class="form-control" required />
            </td>
        </tr>
        <tr>
            <td>Enter Posted Date : </td>
            <td>
                <input type="date" name="posteddate" class="form-control" required />
            </td>
        </tr>
        <tr>
            <td></td>
            <td><button type="submit" class="btn btn-success">Submit</button></td>
        </tr>
    </table>

</form>
{% endblock %}