{% extends 'adminbase.html' %}
{% load static %}
{% block admin %}
<h1
    style="text-align: center; color:white; background-color:navy; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;border-radius: 50px 0px 50px 0px; padding:8px;">
    VIEW POSTED JOBS</h1>
<table class="table table-bordered" style="margin:auto;">
    <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Description</th>
            <th>Location</th>
            <th>Salary</th>
            <th>JobType</th>
            <th>Last Date</th>
            <th>Posted Date</th>
        </tr>
    </thead>
    <tbody>
        {% for j in ji %}
        <tr>
            <td>{{j.id}}</td>
            <td>{{j.title}}</td>
            <td>{{j.description}}</td>
            <td>{{j.location}}</td>
            <td>{{j.salary}}</td>
            <td>{{j.jobtype}}</td>
            <td>{{j.lastdate}}</td>
            <td>{{j.posteddate}}</td>
        </tr>
        {% endfor %}
    </tbody>

    </thead>
</table>
{% endblock %}